.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lobster Two', cursive;
}

.notfound div {
    width: 80%;
    min-height: auto;
    max-height: 720px;
    min-height: 480px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 12px 16px;
    background-color: var(--box-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.notfound div h1 {
    width: 100%;
    font-size: 2.5rem;
    letter-spacing: 2;
    text-align: center;
}


.notfound div p:last-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notfound div:last-child p a {
    display: flex;
    column-gap: 12px;
    align-items: center;
    font-size: 1.2rem;
    color: var(--primary-color);

}