.search {
    display: flex;
    position: relative;
    width: 100%;
  }
  
  .search input {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px 32px!important;
    border: none;
    border-bottom:4px solid var(--primary-color);;
    transition: border-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding-left: 36px; /* İkonun genişliği kadar sol iç yastık (padding) ekleyin */
  }
  
  .search input:focus {
    border-color: var(--secondary-color);
  }
  
  .search span {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  